/* #logo{
    max-height: 200px;
}

.logo{
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#whale{
    display: none;
    height: 1000px;
} */